@import '../common';

.root {
  position: relative;
  height: 54px;
}

.label {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
  left: 16px;
  z-index: 1;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: left;
  transform: translateY(15px);
}

.labelText {
  transition: inherit;
  transform-origin: inherit;
}

.labelTop {
  transform: translateY(3px);

  .labelText {
    transform: scale(0.75);
    /* override <Text> color to a color that is not in the <Text> design  */
    color: $D30 !important;
  }
}

.inputContainer {
  height: 52px !important;
}

.inputContainer input{
  padding: 18px 0 0 4px !important;
}
