@import '../../colors.scss';

$focusBoxShadowWidth: 3px;
$focusBoxShadow: 0 0 0 $focusBoxShadowWidth $F00;
$focusBoxErrorShadow: 0 0 0 $focusBoxShadowWidth #FBD0D0;
$focusBoxWarningShadow: 0 0 0 $focusBoxShadowWidth #FEF2C8;

@mixin FocusBox($borderColor: $B10, $boxShadow: $focusBoxShadow) {
  outline: none;
  border-color: $borderColor;
  box-shadow: $boxShadow;
}

@mixin FocusBoxError($borderColor: #DF5844, $boxShadow: $focusBoxErrorShadow) {
  outline: none;
  border-color: $borderColor;
  box-shadow: $boxShadow;
}

@mixin FocusBoxWarning($borderColor: #FFBA5C, $boxShadow: $focusBoxWarningShadow) {
  outline: none;
  border-color: $borderColor;
  box-shadow: $boxShadow;
}
