:import {
  -st-from: "../../../Foundation/stylable/default-scroll-bar.st.css";
  -st-named: defaultScrollBar;
}

.root {
  -st-states: hideTopDivider, hideBottomDivider;
  box-sizing: border-box;
}

.innerContent {
  overflow-y: auto;
  -st-mixin: defaultScrollBar;
  height: 100%;
}

.root:hideTopDivider .topDivider {
  opacity: 0;
  transition: opacity 100ms linear;
}

.root:hideBottomDivider .bottomDivider {
  opacity: 0;
  transition: opacity 100ms linear;
}
