:import {
  -st-from: "./Text.st.css";
  -st-default: Text;
}

.caption {
  -st-extends: Text;
}

/* C1 */
.c1 {
  font-size: 10px;
  line-height: 12px;
}

.c1.caption:size(medium):weight(bold) {
  -st-mixin: c1;
}
