@import '../common.scss';
.wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  line-height: 15px;

  &.rtl {
    flex-direction: row-reverse;
  }
}

.input {
  input {
    width: 55px;
  }
}

.time {
  cursor: pointer;
  display: block;
  width: inherit;
  white-space: nowrap;
  flex-direction: row;
  box-sizing: border-box;

  &.stretch {
    width: 100%;
  }

  &.focus {
    outline: 1px solid black;
  }

  &.hover {
    outline: 1px solid blue;
  }

  &.rtl {
    flex-direction: row-reverse;
  }
}

.ampm {
  text-transform: uppercase;
}

.ampm.ampm:hover { color: $B10; }

.disabled {
  cursor: default;
  pointer-events: none;
}

.suffix-end-wrapper div {
  flex-grow: 0;
}
