:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D50, D80, B30;
}

.root {
  background-color: value(D80);
  padding: 0 24px;
}

.optionsContainer {
  display: grid;
  width: 100%;
}

.smallVerticalPadding {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mediumVerticalPadding {
  padding-top: 18px;
  padding-bottom: 18px;
}

.leftAlign {
  justify-self: start;
}

.centerAlign {
  justify-self: center;
}

.rightAlign {
  justify-self: end;
}

.checkbox {
  margin: 0 12px 0 6px;
}

.dragHandle {
  display: flex;
  align-items: center;
  color: value(B30);
  margin-right: 18px;
}

.dragHandleDisabled {
  color: value(D50);
}