:vars {
  modalBoxPadding: 48px;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: B40, P40, D80;
}

:import {
  -st-from: "../Foundation/stylable/border.st.css";
  -st-named: radius08;
}

:import {
  -st-from: "../Foundation/stylable/shadows.st.css";
  -st-named: shadow40;
}

:import {
  -st-from: "../BaseModalLayout/BaseModalLayout.st.css";
  -st-named: buttons, root as baseModal, actions, header, contentWrapper, footnote;
}

:import {
  -st-from: "../Foundation/stylable/spacing.st.css";
  -st-named: spacing12, spacing18, spacing24, spacing30, spacing42;
}


.root {
  background-color: value(D80);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-height: calc(100% - (value(modalBoxPadding) * 2) );
  border-radius: value(radius08);
  box-shadow: value(shadow40);
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 48px;
  width: 600px;
}

.imageWrapper {
  margin-bottom: value(spacing18);
  width: 300px;
  height: 200px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
}

.root .actions {
  display: block;
  padding: 48px 0;
}

.root .buttons {
  justify-content: center;
  margin-left: unset;
}

.additionalButtons {
  padding-top: value(spacing18);

}

.root .baseModal {
  position: unset;
}

.root .header {
  padding: 0 78px value(spacing12);
}

.root .contentWrapper {
  padding: 0 78px;
}

.root .footnote {
  padding: value(spacing12) 78px;
}
