@import "../../colors.scss";

.root {
  display: flex;
  justify-content: center;

  &:global(.slick-dots) {
    position: static;
    margin-top: 24px;
  
    :global(li.slick-active) {
      background-color: $B00;
    }
  }

   & .dot {
    width: 12px;
    height: 4px;
    background-color: $B30;
    border-radius: 2px;
    margin: 0 3px;

     &:hover {
      background-color: $B20;
    }
  }
}