:import {
  -st-from: "../Foundation/stylable/spacing.st.css";
  -st-named: spacing06, spacing12, spacing18, spacing24, spacing30, spacing36;
}

.root {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: value(spacing30);
}

.featureItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: value(spacing36) 0;
  width: 100%;
}

.featureItemImageContainer {
  margin-bottom: value(spacing18);
}

.featureItemImage {
  width: 60px;
  height: 60px;
}

.featureItemTextContainer {
  flex-grow: 1;
}

.featureItemTitleContainer {
  display: block;
  margin-bottom: value(spacing06);
}
