:vars {
  closeButtonPadding: 6px;
}

.closeButton {
  position: absolute;
  top: value(closeButtonPadding);

  /* default dir=ltr */
  right: value(closeButtonPadding);
  left: initial;
}

:global([dir="rtl"]) .closeButton {
  right: initial;
  left: value(closeButtonPadding);
}

.innerContent {
  position: relative;
  padding: 30px 36px;
}


