:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: B00, R10, B30, D80;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes staggered-rotation {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  -st-states: size(enum(tiny, small, medium, large)), status(enum(success, error, loading)), color(enum(blue, white));
}

.statusIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statusIndicator svg {
  height: 14px;
  width: 19px;
}

.root:size(tiny) .statusIndicator svg {
  height: 8px;
  width: 10px;
}
.root:size(small) .statusIndicator svg {
  height: 8px;
  width: 11px;
}

.arcsContainer {
  position: relative;
}

.darkArc {
  stroke: value(B00);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
}

.lightArc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
}

.text {
  margin-top: 18px;
  max-width: 150px;
  word-wrap: break-word;
  text-align: center;
}

.root:status(success) {
  color: value(B00);
}

.root:status(success):size(tiny) {
  color: value(D80);
}

.root:status(success):size(tiny) .darkArc {
  fill: value(B00);
}

.root:status(error) {
  color: value(R10);
}

.root:status(error) .darkArc {
  stroke: value(R10);
}

.root:status(error):size(tiny) {
  color: value(D80);
}

.root:status(error):size(tiny) .darkArc {
  fill: value(R10);
}

.root:status(loading):size(tiny) .arcsContainer .lightArc {
  animation: rotation 2s linear infinite;
}

.root:status(loading):size(tiny) .arcsContainer .darkArc {
  animation: rotation 666ms linear infinite;
}

.root:status(loading):size(small) .arcsContainer .lightArc {
  animation: rotation 2s linear infinite;
}

.root:status(loading):size(small) .arcsContainer .darkArc {
  animation: rotation 0.5s linear infinite;
}

.root:status(loading):size(medium) .arcsContainer {
  animation: rotation 2s linear infinite;
}

.root:status(loading):size(medium) .arcsContainer .lightArc {
  animation: rotation 666ms ease-in-out infinite;
}

.root:status(loading):size(large) .arcsContainer {
  animation: rotation 2s linear infinite;
}

.root:status(loading):size(large) .arcsContainer .lightArc {
  animation: staggered-rotation 2s ease-in-out infinite;
}

.root:color(blue) .lightArc {
  stroke: value(B30);
}

.root:color(white) .lightArc {
  stroke: value(D80);
}
