:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D80, D10, B20, R20, G20, Y10, P20;
}

:vars {
  zIndex_NOTIFICATION: 4000;
  enteringDuration: 200ms;
  exitingDuration: 150ms;
  timingFunction: cubic-bezier(0.4, 0, 0.2, 1 );
  verticalContentMargin: 3px;
  maxHeight: 72px; /* considering that notification label should be no longer than two lines */
}

.root {
  -st-states: theme(enum(standard, error, success,warning,premium )), type(enum(local, global, sticky));
  position: relative;
  z-index: value(zIndex_NOTIFICATION);
}

.notification {
  overflow: hidden;
}

.root:theme(standard) .notification{
  background-color: value(B20);
}

.root:theme(error) .notification{
  background-color: value(R20);
}

.root:theme(success) .notification{
  background-color: value(G20);
}

.root:theme(warning) .notification{
  background-color: value(Y10);
}

.root:theme(premium) .notification{
  background-color: value(P20);
}

/* Positions */
.root:type(local) .notification {
  position: absolute;
  right: 0;
  left: 0;
}

.root:type(global) .notification{
  position: relative;
  width: 100%;
}

.root:type(sticky) .notification{
  position: fixed;
  right: 0;
  width: 100%;
  top: 0;
}

.notificationContent{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: value(verticalContentMargin) 12px;
  position: relative;
}

.labelWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.label {
  max-width: 720px;
  margin-right: 12px;
  padding: 9px 0;
}

.button {
  margin: 6px 0;
}

.textLink {
  margin: 8px 0;
}

.iconStyling{
  color: value(D80);
  margin-right: 12px;
  margin-top: 9px;
}

.closeButton {
  position: absolute;
  top: 11px; /* 3px (margin top of content) + 11px top = 14px */
  right: -1px; /*  12px (margin right of content) - 1px = 11px*/
}

/* Animations */
/* Bounding Box */
.notificationAnimationEnter .notification {
  max-height: 0;
}

.notificationAnimationEnterActive .notification {
  max-height: value(maxHeight);
  transition: max-height value(enteringDuration) cubic-bezier(0.0, 0.0, 0.2, 1);
}

.notificationAnimationExit .notification  {
  max-height: value(maxHeight);
}

.notificationAnimationExitActive .notification {
  max-height: 0;
  transition: max-height value(exitingDuration)  value(timingFunction);
}

/* Content */
.notificationAnimationEnter .notificationContent {
  margin-top: calc(value(maxHeight) * (-1));
}

.notificationAnimationEnterActive .notificationContent {
  margin-top: value(verticalContentMargin);
  transition: margin-top value(enteringDuration) value(timingFunction);
}

.notificationAnimationExit .notificationContent {
  margin-top: value(verticalContentMargin);
}

.notificationAnimationExitActive  .notificationContent {
  margin-top: calc(value(maxHeight) * (-1));
  transition: margin-top value(exitingDuration) value(timingFunction);
}
