:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D80, B50, D10, D70, B20, B10, D10, D55, F00;
}
:import {
  -st-from: "../Foundation/stylable/typography.st.css";
  -st-named: text-small-thin;
}

:vars {
    rootPadding: 24px;
    rootBackgroundColor: value(D80);
    dayHoverColor: value(B50);
    calendarWidth: 300px;
    dayBadgeSize: 36px;
    focusBoxShadowWidth: 3px;
    focusBoxShadow: 0 0 0 value(focusBoxShadowWidth) value(F00);
    boxShadow: 0 0 0 value(focusBoxShadowWidth) value(rootBackgroundColor) inset;
}

.calendar :global(.DayPicker) {
  font-size: 14px;
  line-height: 18px;
  font-family: var(--wsr-font-family, "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", 
      "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif");
}

.calendar :global(.DayPicker-Month) {
  width: value(calendarWidth);
}

.calendar :global(.DayPicker) abbr {
  text-decoration: none;
}

.calendar :global(.DayPicker-Weekdays) {
  background-color: value(rootBackgroundColor);
  padding: 0 value(rootPadding);
}

.calendar :global(.DayPicker-WeekdaysRow) {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar :global(.DayPicker-Body) {
  background-color: value(rootBackgroundColor);
  padding: 0 value(rootPadding) value(rootPadding);
}

.calendar :global(.DayPicker-Weekday) {
  width: 17px;
  padding: 18px 0 12px;
  color: value(D10);
}

.calendar :global(.DayPicker-Week) {
  display: flex;
  justify-content: space-around;
}

.calendar :global(.DayPicker-Day) {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: value(dayBadgeSize);
  height: value(dayBadgeSize);
  border-radius: 50%;
  cursor: pointer;
  color: value(D10);
  z-index: 1;
  position: relative;
}

.calendar :global(.DayPicker-Day):focus {
    outline: none;
    z-index: 10;
}

.calendar :global(.DayPicker-Day:focus::after) {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  outline: none;
	border-color: value(B10);
	box-shadow: value(focusBoxShadow);
  content: " ";
  display: block;
  z-index: 11;
}

.calendar :global(.DayPicker-Day):focus .dayCircle {
  box-shadow: value(focusBoxShadow);
}

.calendar :global(.DayPicker-Day.DayPicker-Day--unfocused),
.calendar :global(.DayPicker-Day):focus:hover {
  box-shadow: none;
}

.calendar :global(.DayPicker-Day--today:not(.DayPicker-Day--selected)):not(:hover) {
  background-color: value(D70);
  box-shadow: value(boxShadow);
  z-index: 0;
}

.calendar :global(.DayPicker-Day--today:not(.DayPicker-Day--selected)):not(:hover):focus {
  box-shadow: value(boxShadow), value(focusBoxShadow);
}

.calendar :global(.DayPicker-Day):hover {
  background-color: value(B50);
}

.calendar :global(.DayPicker-Day--selected:not(.DayPicker-Day--outside)) {
  background-color: value(B10);
  color: value(D80);
}

.calendar :global(.DayPicker-Day--outside),
.calendar :global(.DayPicker-Day--disabled) {
  pointer-events: none;
  color: value(D55);
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside):not(.DayPicker-Day--singleDay)) {
  background-color: value(B50);
  border-radius: 0;
  box-shadow: none;
  color: value(D10);
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected:not(.DayPicker-Day--outside)):last-of-type,
.calendar :global(.DayPicker-Day.DayPicker-Day--lastOfMonth:not(.DayPicker-Day--outside)) {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected:not(.DayPicker-Day--outside)):first-of-type,
.calendar :global(.DayPicker-Day.DayPicker-Day--firstOfMonth:not(.DayPicker-Day--outside)) {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.calendar :global(.DayPicker-Day.DayPicker-Day--singleDay:not(.DayPicker-Day--outside)),
.calendar :global(.DayPicker-Day.DayPicker-Day--start.DayPicker-Day--end:not(.DayPicker-Day--outside)) {
  background: none !important;
  border-radius: 50%;
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--start:not(.DayPicker-Day--outside)) .dayCircle,
.calendar :global(.DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--end:not(.DayPicker-Day--outside)) .dayCircle,
.calendar :global(.DayPicker-Day.DayPicker-Day--singleDay:not(.DayPicker-Day--outside)) .dayCircle {
  background-color: value(B10);
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--start:not(.DayPicker-Day--outside):hover) .dayCircle,
.calendar :global(.DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--end:not(.DayPicker-Day--outside):hover) .dayCircle,
.calendar :global(.DayPicker-Day.DayPicker-Day--singleDay:not(.DayPicker-Day--outside):hover) .dayCircle{
  background-color: value(B20);
}

.calendar :global(.DayPicker-Day) .dayCircle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--start:not(.DayPicker-Day--outside)) {
  background: linear-gradient(to left, value(B50) 0%,value(B50) 50%,#000000 50%,transparent 50%,transparent 100%);
  border-radius: 0;
}

.calendar :global(.DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--end:not(.DayPicker-Day--outside)) {
  background: linear-gradient(to right, value(B50) 0%,value(B50) 50%,#000000 50%,transparent 50%,transparent 100%);
  border-radius: 0;
}

.calendar :global(.DayPicker).TwoMonths :global(.DayPicker-Months) {
  display: flex;
}

.calendar :global(.DayPicker).TwoMonths :global(.DayPicker-Month:first-child .DayPicker-Nav--Right),
.calendar :global(.DayPicker).TwoMonths :global(.DayPicker-Month:last-child .DayPicker-Nav--Left),
.calendar :global(.DayPicker).TwoMonths :global(.DayPicker-Day--outside) {
  visibility: hidden;
}