:import {
  -st-from: "../../../Foundation/stylable/spacing.st.css";
  -st-named: spacing12;
}

.root {
  -st-states: showDivider;
}

.innerContent {
  display: flex;
  align-items: center;
  padding: 30px;
}

.innerContent > :first-of-type:not(:last-of-type) {
  margin-right: value(spacing12);
}

:global(.rtl) .innerContent > :first-of-type:not(:last-of-type) {
  margin-right: unset;
  margin-left: value(spacing12);
}

.root:not(:showDivider) .divider {
  opacity: 0;
  transition: opacity 100ms linear;
}

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}

:global(.rtl) .actions {
  margin-left: 0;
  margin-right: auto;
}

.actions > :first-of-type:not(:last-of-type) {
  margin-right: value(spacing12);
}

:global(.rtl) .actions > :first-of-type:not(:last-of-type) {
  margin-right: unset;
  margin-left: value(spacing12);
}

.sideActions {
  flex: 1;
}
