:vars {
  modalBoxPadding: 48px;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D80;
}

:import {
  -st-from: "../Foundation/stylable/border.st.css";
  -st-named: radius08;
}

:import {
  -st-from: "../Foundation/stylable/shadows.st.css";
  -st-named: shadow40;
}

:import {
  -st-from: "../Foundation/stylable/spacing.st.css";
  -st-named: spacing24, spacing30, spacing42;
}

:import {
  -st-from: "../BaseModalLayout/BaseModalLayout.st.css";
  -st-named: buttons, root as baseModal, actions, header, contentWrapper;
}

.root {
  -st-states: removeContentPadding;
  background-color: value(D80);
  position: relative;
  min-width: 510px;
  max-width: calc(100% - (value(modalBoxPadding) * 2) );
  max-height: calc(100% - (value(modalBoxPadding) * 2) );
  display: flex;
  flex-direction: column;
  border-radius: value(radius08);
  box-shadow: value(shadow40);
  overflow: hidden;
}

.root .header {
  padding: value(spacing24) value(spacing42) value(spacing24) value(spacing30);
}

.root .contentWrapper {
  padding: 0 value(spacing30);
}
