:import {
  -st-from: "../../Tooltip/Tooltip.st.css";
  -st-default: Tooltip;
}

/* Text */
.text {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-width: 100% !important;
  display: inline-block !important;
  vertical-align: bottom !important;
}

/* Tooltip */
.tooltip {
  -st-extends: Tooltip;
  display: inline;
  overflow: hidden;
  height: max-content;
}

.tooltip::popoverElement {
  max-width: 100%;
}
