:import {
  -st-from: 'wix-ui-core/index.st.css';
  -st-named: ButtonNext;
}

:import {
  -st-from: 'wix-ui-core/hocs.st.css';
  -st-named: Focusable;
}

:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: B10, D55, D80, B20, B50, B40, F00, D10, D20, D30;
}

/* root */
.root {
  -st-extends: ButtonNext;
  -st-states: selected, disabled, skin(enum(standard, dark)),
    labelPlacement(enum(tooltip, end, bottom));

  padding: 0;

  box-sizing: border-box;
  text-align: center;

  border: none;
  outline: none;

  background-color: transparent;
  color: value(D10);
}

.root::content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root:hover:not(:disabled),
.root:hover:not(:disabled) .label {
  color: value(B10);
}

.root:active:not(:disabled),
.root:selected:not(:disabled),
.root:active:not(:disabled) .label,
.root:selected:not(:disabled) .label {
  color: value(B20);
}
.root:selected:not(:disabled) .icon {
  background-color: value(B40);
}

.root:selected:hover:not(:disabled),
.root:selected:hover:not(:disabled) .label {
  color: value(B20);
}
.root:selected:hover:not(:disabled) .icon {
  background-color: value(B50);
}

.root:disabled,
.root:disabled .label {
  color: value(D55);
  cursor: default;
}
.root:disabled .icon {
  background-color: value(D80);
}

/* skin Dark */
.root:skin(dark):hover:not(:disabled),
.root:skin(dark):hover:not(:disabled) .label {
  color: value(D30);
}

.root:skin(dark):active:not(:disabled),
.root:skin(dark):selected:not(:disabled),
.root:skin(dark):active:not(:disabled) .label,
.root:skin(dark):selected:not(:disabled) .label {
  color: value(D80);
}
.root:skin(dark):labelPlacement(bottom):active:not(:disabled) .label,
.root:skin(dark):labelPlacement(bottom):selected:not(:disabled) .label {
  color: value(D10);
}
.root:skin(dark):active:not(:disabled) .icon,
.root:skin(dark):selected:not(:disabled) .icon {
  background-color: value(D10);
}

.root:skin(dark):active:not(:disabled),
.root:skin(dark):selected:hover:not(:disabled),
.root:skin(dark):active:not(:disabled) .label,
.root:skin(dark):selected:hover:not(:disabled) .label {
  color: value(D80);
}
.root:skin(dark):labelPlacement(bottom):active:not(:disabled) .label,
.root:skin(dark):labelPlacement(bottom):selected:hover:not(:disabled) .label {
  color: value(D10);
}
.root:skin(dark):active:not(:disabled) .icon,
.root:skin(dark):selected:hover:not(:disabled) .icon {
  background-color: value(D20);
}

.root:skin(dark):disabled,
.root:skin(dark):disabled .label {
  color: value(D55);
}
.root:skin(dark):disabled .icon {
  background-color: value(D80);
}

/* icon */
.icon {
  -st-extends: Focusable;
  -st-states: size(enum(tiny, small, medium, large));

  display: flex;
  align-items: center;

  outline: none;
  background-color: value(D80);
  transition: all 100ms linear;
}

.icon:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

.icon:size(tiny) {
  border-radius: 4px;
  padding: 3px;
}

.icon:size(small) {
  border-radius: 4px;
  padding: 6px;
}

.icon:size(medium) {
  border-radius: 6px;
  padding: 6px;
}

.icon:size(large) {
  border-radius: 6px;
  padding: 9px;
}

/* label */
.label {
  -st-states: placement(enum(tooltip, end, bottom)),
    size(enum(tiny, small, medium, large));

  transition: all 100ms linear;
}

.label:placement(end):size(tiny) {
  padding: 0 3px;
}

.label:placement(end):size(small),
.label:placement(end):size(medium) {
  padding: 0 6px;
}

.label:placement(end):size(large) {
  padding: 0 9px;
}

.label:placement(bottom) {
  margin-top: 9px;
}
