:import {
  -st-from: "../Foundation/stylable/spacing.st.css";
  -st-named: spacing06, spacing12, spacing18, spacing24, spacing30, spacing36;
}

.root {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: value(spacing30);
}

.testimonialItem {
  display: flex;
  align-items: flex-start;
  padding: value(spacing36) 0;
  width: 100%;
}
.testimonialItem:not(:last-child) {
  margin-right: value(spacing30);
}

.testimonialItemAvatar {
  margin-right: value(spacing18);
}

:global(.rtl) .testimonialItemAvatar, :global([dir='rtl']) .testimonialItemAvatar {
  margin-right: 0;
  margin-left: value(spacing18);
}

.testimonialItemTextArea {
  flex-grow: 1
}

.testimonialItemText {
  margin-bottom: value(spacing06);
}
