:vars {
  enterEasing: cubic-bezier(0, 0, 0.2, 1);
  enterDuration: 150ms;
}

@keyframes easeOutElastic {
  0% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.03);
  }
  84% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.root {}

.animateContent{}


.enter {
  transform: scale(1);
}

.enterActive {
  transform: scale(1.7);
  transition: transform 150ms;
}

.exit {
  animation-name: easeOutElastic;
}

.exitActive {
  animation-name: easeOutElastic;
  animation-duration: 400ms;
}
